<ion-header>
  <ion-navbar>
    <ion-title>
      Stundenplan I1a
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="courses">
    <ion-list-header>
      Montag
    </ion-list-header>
    <ion-item *ngFor="let course of courses">
      <ion-grid>
        <ion-row>
          {{weekdays[course.dayofweek - 1]}}
        </ion-row>
        <ion-row>
          {{course.name_de}}
        </ion-row>
        <ion-row>
          {{course.start}} - {{course.end}}
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
